#feedback {
  width: 100%;
  padding: 20px;
}

#feedback form h1 {
  text-align: center;
  font-size: 28px;
}

#feedback textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 400px;
  margin: 15px 0 12px 0;
}

#feedback input[type=submit] {
  font-size: 22px;
  padding: 15px 0;
  color: #fff;
  height: 60px;
  width: 100%;
  background: #87ab3f;
  border: 1px solid transparent;
  border-radius: 6px;
  text-transform: uppercase;
}

#feedback input[type=submit]:hover {
  color: #a2a2a2;
  background-color: #fff;
  border-color: #a2a2a2;
}

#feedback select {
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#feedback .errors {
  text-align: center;
}